<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <title>Lijstjes App</title>
</head>

<body>


    <div id="app">
        <!-- Hier begint je app -->
        <h1>Alle taken</h1>
        <ul>
            <li v-for="task in tasks" v-text="task.description">
        </ul>

        <h1>Taken te doen</h1>
        <ul>
            <li v-for="task in incompleteTasks" v-text="task.description" v-bind:class="task-done">
        </ul>

        <h1>Taken gedaan</h1>
        <ul>
            <li v-for="task in completedTasks" v-text="task.description">
        </ul>


    </div><!-- Hier eindigt de app -->



    <!-- Plaats de code voor Opdracht 1 hier -->
    <script>

        new Vue(
            {
                el: "#app",
                data: {
                    tasks: [
                        { description: 'Maak huiswerk rekenen', completed: true }, //dit is 1 object
                        { description: 'Vraag SLBer naar keuzedelen', completed: false },  //dit is nog 1 object
                        { description: 'Onderzoek een software pakket', completed: false }, //idem
                        { description: 'Maak huiswerk Frontend', completed: false }, //idem
                        { description: 'Bel tandarts voor een afspraak', completed: true }, //idem
                        { description: 'Plan een meeting met team', completed: false } //idem
                    ]
                },

                computed: {
                    incompleteTasks() {
                        return this.tasks.filter(task => !task.completed)
                    },
                    completedTasks() {
                        return this.tasks.filter(task => task.completed)
                    }
                }
            }
        );

    </script>

</body>

</html>